html,
body {
  margin: 0;
  padding: 0;
}

body {
  padding: 15px;
  background-image: url(../../images/bg2.jpg);
}

.layui-card {
  position: relative;
  width: 500px;
  left:50%;
  transform: translateX(-50%);
  
}
